/node_modules
/vendor
/storage/*.key
.env
.env.backup
.env.production
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/database/*.sqlite
/database/*.sqlite-journal
.phpunit.result.cache
.idea/
.vscode/
